input {
  background-color: #e0e0e0;
  border: 0 solid transparent;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  height: 40px;
  padding: 0 0.64em;
}

input[type="text"] {
  width: 100%;
}

.form-search {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  position: relative;
  width: 100%;
}

.form-search .search-input {
  outline: none;
  width: 15rem;
}

.form-search .show-results-count {
  margin-top: 1em;
}

.form-search .relevance-input {
  outline: none;
  padding: 0;
  width: 2rem;
  border-bottom: 1px solid #bfb8b8;
  text-align: center;
  background-color: transparent;
}

.form-search .form-submit-btn {
  border: none;
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
  height: 40px;
  margin: 0;
  padding: 0.95em 2em;
  vertical-align: top;
}

.form-search .form-submit-btn:disabled {
  background-color: gray;
  cursor: initial;
}

.form-search .no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.form-search .auto-suggestions {
  border: 1px solid #d4d4d4;
  border-top: none;
  list-style-type: none;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  top: 40%;
  width: 16.2rem;
  z-index: 99;
}

.form-search .auto-suggestions .auto-suggestion-item {
  background-color: #e0e0e0;
  border-bottom: 1px solid #c5bfbf;
  cursor: pointer;
  padding: 0.5rem;
}

.form-search .auto-suggestions .auto-suggestion-item:hover {
  background-color: #f1f1f1;
  color: black;
}

.form-search .auto-suggestions .suggestion-active {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  .form-search .search-input {
    width: 12rem;
  }

  .form-search .auto-suggestions {
    width: 13.4rem;
  }
}
