input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}

.form-search {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
  position: relative;
  width: 100%;
}

.form-search .search-input {
  font-size: 1rem;
  outline: none;
  padding: 10px;
  width: 15rem;
}

.form-search .form-submit-btn {
  border: none;
  padding: 0.95em 2em;
  cursor: pointer;
  background-color: DodgerBlue;
  color: #fff;
}

.form-search .form-submit-btn:disabled {
  background-color: gray;
  cursor: initial;
}

@media screen and (max-width:767.98px){
  .form-search .search-input{
    width: 12rem;
  }
}