.book-item {
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  margin-right: 1em;
  padding: 1.5em 1em;
  width: 28%;
}

.book-item:last-child{
  margin-right: 0;
}

.book-item .title {
  margin: 0 0 1em 0;
}

.book-item .avatar-wrapper .author-image {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.book-item .author-name {
  vertical-align: middle;
}

.book-item .description {
  margin: 0 0 1em 0;
  max-height: 146px;
  overflow-y: scroll;
}

@media screen and (max-width:767.98px){
  .book-item{
    width: 100%;
    margin-right: 0;
  }
}