.book-item {
  background-color: #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
  margin-right: 0;
  padding: 1.5em 1em;
  flex-basis: 100%;
  flex: 1;
}

.book-item.margin {
  margin-right: 1em;
}

.book-item:last-child {
  margin-right: 0;
}

.book-item .title {
  margin: 0 0 1em 0;
  color: dodgerblue;
}

.book-item .avatar-wrapper .author-image {
  display: inline-block;
  margin-right: 1em;
  vertical-align: middle;
}

.book-item .author-name {
  vertical-align: middle;
  color: #607d8b;
  text-align: left;
  display: inline-block;
  width: 77%;
}

.book-item .description-wrapper {
  margin-bottom: 1em;
}

.book-item .description {
  margin: 0 0 1em 0;
  max-height: 146px;
  overflow-y: hidden;
  color: #06223e;
  display: inline;
}

.book-item .read-more {
  display: inline-block;
  border: none;
  text-decoration: underline;
  color: dodgerblue;
}

.break {
  flex: 1 1 100%;
}

@media screen and (max-width: 767.98px) {
  .book-item {
    width: 100%;
    margin-right: 0;
    flex: auto;
  }

  .book-item.margin {
    margin-right: 0;
  }
}
